[submodule "src/external/elfio"]
	path = src/external/elfio
	url = https://github.com/serge1/ELFIO.git
[submodule "src/external/capstone"]
	path = src/external/capstone
	url = https://github.com/aquynh/capstone.git
[submodule "src/external/vita-headers"]
	path = src/external/vita-headers
	url = https://github.com/vitasdk/vita-headers.git
[submodule "src/external/glbinding"]
	path = src/external/glbinding
	url = https://github.com/cginternals/glbinding.git
[submodule "src/external/yaml-cpp"]
	path = src/external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "src/external/vita-toolchain"]
	path = src/external/vita-toolchain
	url = https://github.com/Vita3K/vita-toolchain
[submodule "src/external/microprofile"]
	path = src/external/microprofile
	url = https://github.com/jonasmr/microprofile.git
[submodule "src/external/sdl2-cmake-scripts"]
	path = src/external/sdl2-cmake-scripts
	url = https://github.com/tcbrindle/sdl2-cmake-scripts.git
[submodule "src/external/spdlog"]
	path = src/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/external/dirent"]
	path = src/external/dirent
	url = https://github.com/tronkko/dirent
[submodule "src/external/crypto-algorithms"]
	path = src/external/crypto-algorithms
	url = https://github.com/B-Con/crypto-algorithms.git
[submodule "src/external/imgui"]
	path = src/external/imgui
	url = https://github.com/ocornut/imgui
[submodule "src/external/googletest"]
	path = src/external/googletest
	url = https://github.com/google/googletest.git
[submodule "src/emulator/shaders-db"]
	path = src/emulator/shaders-db
	url = https://github.com/Vita3K/shaders-db.git
[submodule "src/external/glslang"]
	path = src/external/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "src/external/SPIRV-Cross"]
	path = src/external/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "src/external/boost"]
	path = src/external/boost
	url = https://github.com/Vita3K/ext-boost.git
[submodule "src/external/dlmalloc"]
	path = src/external/dlmalloc
	url = https://github.com/Vita3K/dlmalloc
[submodule "src/external/imgui_club"]
	path = src/external/imgui_club
	url = https://github.com/ocornut/imgui_club.git
