name: C/C++ CI

on:
  push:
    paths-ignore:
      - '**/*.md'
  pull_request:
    paths-ignore:
      - '**/*.md'

env:
  BUILD_CONFIG: Release

jobs:
  format-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Format check
        run: .github/format-check.sh

  build:
    name: Build (${{ matrix.os }})
    needs: [format-check]
    runs-on: ${{ matrix.runs_on || matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            arch: x86_64
            cache_path: ~/.ccache
            extra_cmake_args: -DLINUXDEPLOY_COMMAND=/usr/local/bin/linuxdeploy-x86_64.AppImage
            cmake_preset: linux-ninja-clang-appimage

          - os: ubuntu-24.04-arm
            arch: aarch64
            cache_path: ~/.ccache
            extra_cmake_args: -DLINUXDEPLOY_COMMAND=/usr/local/bin/linuxdeploy-aarch64.AppImage
            cmake_preset: linux-ninja-clang-appimage

          - os: windows-latest
            cache_path: |
                C:\vcpkg\installed
                C:\vcpkg\packages
                C:\Users\runneradmin\AppData\Local\ccache
            extra_cmake_args: -DCMAKE_TOOLCHAIN_FILE=C:\vcpkg\scripts\buildsystems\vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows-static-md
            cmake_preset: windows-ninja

          - os: macos-intel
            runs_on: macos-latest
            cache_path: ~/Library/Caches/ccache
            extra_cmake_args: -DCMAKE_OSX_ARCHITECTURES="x86_64" -DFORCE_BUILD_OPENSSL_MAC=ON -DVITA3K_FORCE_CUSTOM_BOOST=ON
            cmake_preset: macos-ninja

          - os: macos-arm64
            runs_on: macos-latest
            cache_path: ~/Library/Caches/ccache
            extra_cmake_args: -DCMAKE_OSX_ARCHITECTURES="arm64" -DFORCE_BUILD_OPENSSL_MAC=ON -DVITA3K_FORCE_CUSTOM_BOOST=ON
            cmake_preset: macos-ninja

          - os: android
            runs_on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Set up build environment (macOS)
        run: |
          sudo xcode-select -s /Applications/Xcode_16.2.app/Contents/Developer
          brew install ccache create-dmg
          echo "$(brew --prefix ccache)/libexec" >> $GITHUB_PATH
          ccache --set-config=compiler_check=content
        if: startsWith(matrix.os, 'macos')

      - name: Set up build environment (Linux)
        run: |
          sudo add-apt-repository -y ppa:mhier/libboost-latest # boost repo
          sudo add-apt-repository universe
          sudo apt update
          sudo apt -y install ccache libboost-filesystem1.83-dev libboost-program-options1.83-dev libboost-system1.83-dev libgtk-3-dev libsdl2-dev ninja-build libfuse2

          # Set up linuxdeploy for AppImage
          curl -sLO https://github.com/linuxdeploy/linuxdeploy/releases/latest/download/linuxdeploy-${{ matrix.arch }}.AppImage
          sudo cp -f linuxdeploy-${{ matrix.arch }}.AppImage /usr/local/bin/
          sudo chmod +x /usr/local/bin/linuxdeploy-${{ matrix.arch }}.AppImage
        if: startsWith(matrix.os, 'ubuntu')

      - name: Set up build environment (Windows)
        run: |
          vcpkg install zlib:x64-windows-static-md boost-system:x64-windows-static-md boost-filesystem:x64-windows-static-md boost-program-options:x64-windows-static-md boost-icl:x64-windows-static-md boost-variant:x64-windows-static-md curl:x64-windows-static-md openssl:x64-windows-static-md
          choco install ccache
        if: matrix.os == 'windows-latest'

      - uses: ilammy/msvc-dev-cmd@v1
        if: matrix.os == 'windows-latest'

      - name: Set up build environment (Android)
        run: |
          sudo apt-get install -y ninja-build
          vcpkg install boost-system:arm64-android boost-filesystem:arm64-android boost-program-options:arm64-android boost-icl:arm64-android boost-variant:arm64-android openssl:arm64-android zlib:arm64-android
        if: matrix.os == 'android'

      - uses: hendrikmuhs/ccache-action@v1.2
        if: matrix.os == 'android'

      - name: Restore Gradle Cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/
            /usr/local/share/vcpkg/installed
            /usr/local/share/vcpkg/packages
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/build.gradle') }}-${{ hashFiles('android/**/*.xml') }}-${{ hashFiles('android/**.java') }}
          restore-keys: |
            ${{ runner.os }}-gradle-${{ hashFiles('**/build.gradle') }}-${{ hashFiles('android/**/*.xml') }}-
            ${{ runner.os }}-gradle-${{ hashFiles('**/build.gradle') }}-
            ${{ runner.os }}-gradle-
        if: matrix.os == 'android'

      - name: Decode Android keystore
        env:
          KEYSTORE_ENCODED: ${{ secrets.KEYSTORE }}
        run: |
          if [ -n "$KEYSTORE_ENCODED" ]; then
            echo "$KEYSTORE_ENCODED" | base64 --decode > /home/runner/keystore.jks
          fi
        if: matrix.os == 'android'

      - uses: actions/cache@v5
        with:
          path: ${{ matrix.cache_path }}
          key: cache-${{ matrix.os }}-${{ env.BUILD_CONFIG }}-${{ github.sha }}
          restore-keys: |
            cache-${{ matrix.os }}-${{ env.BUILD_CONFIG }}-
        if: matrix.os != 'android'

      - name: Reset ccache statistics
        run: ccache -z
        if: matrix.os != 'android'

      - name: Build Vita3K
        run: |
          cmake ${{ matrix.extra_cmake_args }} --preset ${{ matrix.cmake_preset }}
          cmake --build build/${{ matrix.cmake_preset }} --config ${{ env.BUILD_CONFIG }}
        if: matrix.os != 'android'

      - name: Print ccache statistics
        run: ccache -s
        if: matrix.os != 'android'

      - name: Build Vita3K (Android)
        env:
          SIGNING_STORE_PATH: "/home/runner/keystore.jks"
          SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}
          SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
          JVM_OPTS: -Xmx6G
          VCPKG_ROOT: /usr/local/share/vcpkg
        run: |
          cp -r data android/assets
          cp -r lang android/assets
          cp -r vita3k/shaders-builtin android/assets
          export JAVA_HOME=$(echo $JAVA_HOME_17_X64)
          if [ -e "$SIGNING_STORE_PATH" ];
          then
            BUILD_TYPE=Release
          else
            BUILD_TYPE=Reldebug
          fi
          ./gradlew --stacktrace --configuration-cache --build-cache --parallel --configure-on-demand assemble${BUILD_TYPE}
          echo "APK_PATH=android/build/outputs/apk/${BUILD_TYPE,,}/android-${BUILD_TYPE,,}.apk" >> $GITHUB_ENV
        if: matrix.os == 'android'

      - name: Run tests
        working-directory: build/${{ matrix.cmake_preset }}
        run: ctest --build-config ${{ env.BUILD_CONFIG }} --output-on-failure
        if: matrix.os != 'android'

      - name: Compute git short SHA
        shell: bash
        if: env.GIT_SHORT_SHA == ''
        run: echo "GIT_SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Create DMG (macOS)
        run: |
          cd build/${{ matrix.cmake_preset }}/bin/${{ env.BUILD_CONFIG }}
          create-dmg \
            --volname "Vita3K Installer" \
            --volicon Vita3K.app/Contents/Resources/Vita3K.icns \
            --window-size 500 300 \
            --icon-size 100 \
            --icon Vita3K.app 120 115 \
            --app-drop-link 360 115 \
            vita3k-${{ env.GIT_SHORT_SHA }}-${{ matrix.os }}.dmg \
            Vita3K.app
          rm -rf Vita3K.app
        if: startsWith(matrix.os, 'macos')

      - name: Prepare Linux AppImage artifact
        run: |
          cd build/${{ matrix.cmake_preset }}/bin/${{ env.BUILD_CONFIG }}
          mkdir -p ../appimage
          mv -f *AppImage* ../appimage/
        if: startsWith(matrix.os, 'ubuntu')

      - name: Upload artifact (Linux AppImage)
        uses: actions/upload-artifact@v6
        with:
          name: vita3k-${{ env.GIT_SHORT_SHA }}-${{ matrix.os }}-appimage
          path: build/${{ matrix.cmake_preset }}/bin/appimage
        if: startsWith(matrix.os, 'ubuntu')

      - name: Upload artifact (Android apk)
        uses: actions/upload-artifact@v6
        with:
          name: vita3k-${{ env.GIT_SHORT_SHA }}-android
          path: ${{ env.APK_PATH }}
        if: matrix.os == 'android'

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: vita3k-${{ env.GIT_SHORT_SHA }}-${{ matrix.os }}
          path: build/${{ matrix.cmake_preset }}/bin/${{ env.BUILD_CONFIG }}
        if: matrix.os != 'android'

  create-release:
    needs: [build]
    runs-on: ubuntu-latest
    concurrency:
      group: create-release
      cancel-in-progress: false
    if: |
      github.ref == 'refs/heads/master' &&
      github.repository == 'Vita3K/Vita3K'
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Download Artifacts
        uses: actions/download-artifact@v7

      - name: Get commit info
        run: |
          echo "GIT_SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
          echo "BUILD_VARIABLE=$(git rev-list --count HEAD)" >> $GITHUB_ENV
          echo "LAST_COMMIT_MESSAGE=$(git log -1 --pretty=format:'%s')" >> $GITHUB_ENV

      - name: Get last committer
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          COMMITTER=$(curl -s -H "Authorization: token $GITHUB_TOKEN" \
          https://api.github.com/repos/${{ github.repository }}/commits/${{ github.sha }} \
          | jq -r '.commit.author.name')
          echo "COMMITTER_NAME=$COMMITTER" >> $GITHUB_ENV

      - name: Download ghr
        run: |
          wget -c https://github.com/tcnksm/ghr/releases/download/v0.17.0/ghr_v0.17.0_linux_amd64.tar.gz
          tar xfv ghr_v0.17.0_linux_amd64.tar.gz

      - name: Prepare artifacts
        run: |
          mkdir -p artifacts-master artifacts-store
          files=$(find . -maxdepth 1 -type d -name "vita3k-*")
          for f in $files; do
            dir=$(basename $f)
            if [[ $dir == *-android ]]; then
              echo "Processing $dir (Android)"
              cp $dir/*.apk artifacts-master/android-latest.apk
              cp $dir/*.apk artifacts-store/vita3k-${{ env.BUILD_VARIABLE }}-${{ env.GIT_SHORT_SHA }}-android.apk
            elif [[ $dir == *-macos-intel ]]; then
              echo "Processing $dir (macOS Intel)"
              cp $dir/*.dmg artifacts-master/macos-latest.dmg
              cp $dir/*.dmg artifacts-store/vita3k-${{ env.BUILD_VARIABLE }}-${{ env.GIT_SHORT_SHA }}-macos.dmg
            elif [[ $dir == *-macos-arm64 ]]; then
              echo "Processing $dir (macOS ARM64)"
              cp $dir/*.dmg artifacts-master/macos-arm64-latest.dmg
              cp $dir/*.dmg artifacts-store/vita3k-${{ env.BUILD_VARIABLE }}-${{ env.GIT_SHORT_SHA }}-macos-arm64.dmg
            elif [[ $dir == *-ubuntu-latest-appimage ]]; then
              echo "Processing $dir (x86_64 AppImage)"
              cp $dir/*.AppImage* artifacts-master/
              cp $dir/*.AppImage* artifacts-store/
            elif [[ $dir == *-ubuntu-24.04-arm-appimage ]]; then
              echo "Processing $dir (ARM64 AppImage)"
              cp $dir/*.AppImage* artifacts-master/
              cp $dir/*.AppImage* artifacts-store/
            elif [[ $dir == *-ubuntu-latest ]]; then
              echo "Processing $dir (Ubuntu x86_64)"
              (cd $dir && zip -r ../artifacts-master/ubuntu-latest.zip *)
              7z a -mx=9 artifacts-store/vita3k-${{ env.BUILD_VARIABLE }}-${{ env.GIT_SHORT_SHA }}-ubuntu-x86_64.7z $dir
            elif [[ $dir == *-ubuntu-24.04-arm ]]; then
              echo "Processing $dir (Ubuntu ARM64)"
              (cd $dir && zip -r ../artifacts-master/ubuntu-aarch64-latest.zip *)
              7z a -mx=9 artifacts-store/vita3k-${{ env.BUILD_VARIABLE }}-${{ env.GIT_SHORT_SHA }}-ubuntu-aarch64.7z $dir
            elif [[ $dir == *-windows-latest ]]; then
              echo "Processing $dir (Windows x86_64)"
              (cd $dir && zip -r ../artifacts-master/windows-latest.zip *)
              7z a -mx=9 artifacts-store/vita3k-${{ env.BUILD_VARIABLE }}-${{ env.GIT_SHORT_SHA }}-windows.7z $dir
            fi
          done
          echo "=== artifacts-master ==="
          ls -al artifacts-master/
          echo "=== artifacts-store ==="
          ls -al artifacts-store/

      - name: Upload to store repository
        run: |
          ghr_v0.17.0_linux_amd64/ghr -u ${{ github.repository_owner }} -r Vita3K-builds \
            -n "Build: ${{ env.BUILD_VARIABLE }}" \
            -b "$(printf "Corresponding commit: [${{ env.LAST_COMMIT_MESSAGE }}](https://github.com/${{ github.repository }}/commit/${{ github.sha }}) (${{ env.COMMITTER_NAME }})")" \
            ${{ env.BUILD_VARIABLE }} artifacts-store/
        env:
          GITHUB_TOKEN: ${{ secrets.STORE_TOKEN }}

      - name: Upload to master repository
        run: |
          ghr_v0.17.0_linux_amd64/ghr -u ${{ github.repository_owner }} -r Vita3K -recreate \
            -n 'Automatic CI builds' \
            -b "$(printf "Corresponding commit: ${{ github.sha }}\nVita3K Build: ${{ env.BUILD_VARIABLE }}")" \
            continuous artifacts-master/
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
